{% include 'ucp_header.html' %}

<form id="crosstimecafe_profileprivacy_ucp" name="crosstimecafe_profileprivacy_ucp" method="post" action="{{ U_UCP_ACTION }}">

	<h2>{{ lang('UCP_PROFILEPRIVACY_EDIT') }}</h2>

	<div class="panel">
		<div class="inner">
			<p>{{ lang('UCP_PROFILEPRIVACY_EXPLAIN') }}</p>
			{% if S_ERROR %}
				<p class="error">{{ ERROR_MSG }}</p>
			{% endif %}
			<table class="table1 responsive">
				<thead>
				<tr>
					<th>{{ lang('UCP_PROFILEPRIVACY_SETTING_FIELD') }}</th>
					<th>{{ lang('UCP_PROFILEPRIVACY_SETTING_PUBLIC') }}</th>
					<th>{{ lang('UCP_PROFILEPRIVACY_SETTING_MEMBERS') }}</th>
					<th>{{ lang('UCP_PROFILEPRIVACY_SETTING_FRIENDS') }}</th>
					<th>{{ lang('UCP_PROFILEPRIVACY_SETTING_HIDDEN') }}</th>
				</tr>
				</thead>
				<tbody>
				<tr class="bg3 big-column">
					<td colspan="5">{{ lang('UCP_PROFILEPRIVACY_SETTING_BOARD') }}</td>
				</tr>
				<!-- BEGIN board_fields -->
				<tr class="<!-- IF board_fields.S_ROW_COUNT is odd -->bg2<!-- ELSE -->bg1<!-- ENDIF -->">
					<td>{board_fields.LANG_NAME}</td>
					<td class="mark"><input type="radio" name="{board_fields.FIELD_ID}" title="{{ lang('UCP_PROFILEPRIVACY_SETTING_PUBLIC') }}" value="0" {% if board_fields.FIELD_SETTING == 0 %}checked{% endif %}{% if board_fields.FIELD_ID in ['pm', 'email'] %} disabled{% endif %}></td>
					<td class="mark"><input type="radio" name="{board_fields.FIELD_ID}" title="{{ lang('UCP_PROFILEPRIVACY_SETTING_MEMBERS') }}" value="1" {% if board_fields.FIELD_SETTING == 1 %}checked{% endif %}></td>
					<td class="mark"><input type="radio" name="{board_fields.FIELD_ID}" title="{{ lang('UCP_PROFILEPRIVACY_SETTING_FRIENDS') }}" value="2" {% if board_fields.FIELD_SETTING == 2 %}checked{% endif %}></td>
					<td class="mark"><input type="radio" name="{board_fields.FIELD_ID}" title="{{ lang('UCP_PROFILEPRIVACY_SETTING_HIDDEN') }}" value="3" {% if board_fields.FIELD_SETTING == 3 %}checked{% endif %}></td>
				</tr>
				<!-- END board_fields -->
				<tr class="bg3 big-column">
					<td colspan="5">{{ lang('UCP_PROFILEPRIVACY_SETTING_PROFILE') }}</td>
				</tr>
				<!-- BEGIN profile_fields -->
				<tr class="<!-- IF profile_fields.S_ROW_COUNT is odd -->bg2<!-- ELSE -->bg1<!-- ENDIF -->">
					<td>{profile_fields.LANG_NAME}</td>
					<td class="mark"><input type="radio" name="{profile_fields.FIELD_ID}" title="{{ lang('UCP_PROFILEPRIVACY_SETTING_PUBLIC') }}" value="0" {% if profile_fields.FIELD_SETTING == 0 %}checked{% endif %}></td>
					<td class="mark"><input type="radio" name="{profile_fields.FIELD_ID}" title="{{ lang('UCP_PROFILEPRIVACY_SETTING_MEMBERS') }}" value="1" {% if profile_fields.FIELD_SETTING == 1 %}checked{% endif %}></td>
					<td class="mark"><input type="radio" name="{profile_fields.FIELD_ID}" title="{{ lang('UCP_PROFILEPRIVACY_SETTING_FRIENDS') }}" value="2" {% if profile_fields.FIELD_SETTING == 2 %}checked{% endif %}></td>
					<td class="mark"><input type="radio" name="{profile_fields.FIELD_ID}" title="{{ lang('UCP_PROFILEPRIVACY_SETTING_HIDDEN') }}" value="3" {% if profile_fields.FIELD_SETTING == 3 %}checked{% endif %}></td>
				</tr>
				<!-- END profile_fields -->
				</tbody>
			</table>

		</div>
	</div>
	<fieldset>
		<dl>
			<dt>&nbsp;</dt>
			<dd><input type="submit" name="submit" id="submit" class="button1" value="{{ lang('SUBMIT') }}" tabindex="2" />&nbsp;
				<input type="reset" name="reset" class="button2" value="{{ lang('RESET') }}" /></dd>
		</dl>
		{{ S_HIDDEN_FIELDS }}
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>

{% include 'ucp_footer.html' %}
